<!DOCTYPE html>

<html lang="en" class="h-100" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="blocks/head">
</head>


<body class="h-100 text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="mb-15" th:insert="blocks/header">
    </header>

    <main class="px-3">

        <div class="form-container">

            <div th:if="${wrongData}" class="alertError">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Помилка: </strong><text th:text="${wrongData}"></text>
            </div>


            <div class="cinemas p-3">
                <h3>Змінити станцію</h3>
            </div>

            <form style="padding: 2%" action="/station/edit" method="post">
                <input type="text" name="id" th:value="${id}" style="display: none" >
                <select class="form-select" name="stationEntity" required>
                    <option value="" selected>Оберіть станцію</option></br>
                    <option th:each="el : ${stations}" th:value="${el.getId()}" th:text="${el.getName()}"></option></br>
                </select>
                <select class="form-select" name="routeEntity" required>
                    <option value="" selected>Оберіть маршрут</option>
                    <option th:each="el : ${routes}" th:value="${el.getId()}" th:text="${el.getName()}"></option></br>
                </select>
                <button type="submit" class="btn btn-primary">Змінити станцію</button>
            </form>

            <a href="/station">Відхилити</a>

        </div>

    </main>

    <footer class="mt-auto text-white-50">

    </footer>
</div>

</body>

</html>