<!DOCTYPE html>

<html lang="en" class="h-100" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="blocks/head">
</head>


<body class="h-100 text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="mb-15" th:insert="blocks/header">
    </header>

    <main class="px-3">

        <div th:if="${deleted}" class="alertWarning">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Увага: </strong><text th:text="${deleted}"></text>
        </div>

        <div th:if="${wrongData}" class="alertError">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Помилка: </strong><text th:text="${wrongData}"></text>
        </div>

        <div class="categories p-3">
            <h3>Рейси маршрутом Kharkiv-Kyiv</h3>
            <a sec:authorize="hasRole('ADMIN')" href="/trip/create">Повернутись</a>
        </div>


        <table class="table table-dark table-bordered table-hover text-center">
            <thead>
            <tr class="row ml-3">
                <th class="col-2"><b>Поїзд</b></th>
                <th class="col-3">Маршрут</th>
                <th class="col-3">Відправлення</th>
                <th class="col-3">Дії</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row ml-3" th:each="el: ${trips}">
                <td class="col-2" th:text="${el.trainEntity.getTrainNumber()}"></td>
                <td class="col-3" th:text="${el.routeEntity.getName()}" ></td>
                <td class="col-3" th:text="${el.getDepartureTime()}"></td>
                <td class="pupa href-container col-3">
                   <a sec:authorize="!isAuthenticated()" class="nav-link" href="/login">Треба авторизуватися </a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/trip/edit(id=${el.id},
                                                     trainEntity=${el.trainEntity.trainId},
                                                     routeEntity=${el.routeEntity.id},
                                                     departureTime=${el.getDepartureTime()})}">Змінити</a>-->
                               <a sec:authorize="hasRole('ADMIN')" th:href="@{/trip/delete(id=${el.id},-->
                                            trainEntity=${el.trainEntity.trainId},-->
                                         routeEntity=${el.routeEntity.id},-->
                                        departureTime=${el.departureTime})}">Видалити</a>->
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="lupa">
            <div id="routes" style="width: 600px; height: 600px;"></div>
            <div id="trains" style="width:600px; height: 600px;"></div>
        </div>

        <script th:inline="javascript">

            var routes = [[${routesData}]];
            var trains = [[${trainsData}]];

            $(document).ready(function () {
                google.charts.load('current', {
                    packages: ['corechart', 'bar']
                });
                google.charts.setOnLoadCallback(drawPieChart1);
                google.charts.setOnLoadCallback(drawPieChart2);
            });

            function drawPieChart1() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Маршрути');
                data.addColumn('number', '');
                Object.keys(routes).forEach(function (key) {
                    data.addRow([key, routes[key]]);
                });
                var options = {
                    title: 'Маршрути',
                    backgroundColor: '#343a40',
                    is3D: true,
                    hAxis: {
                        textStyle: {
                            color: '#ffffff'
                        }
                    },
                    vAxis: {
                        textStyle: {
                            color: '#ffffff'
                        }
                    },
                    legend: {
                        textStyle: {
                            color: '#ffffff'
                        }
                    },
                    titleTextStyle: {
                        color: '#ffffff'
                    }
                };
                var chart = new google.visualization.PieChart(document
                    .getElementById('routes'));
                chart.draw(data, options);
            }

            function drawPieChart2() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Поїзди');
                data.addColumn('number', '');
                Object.keys(trains).forEach(function (key) {
                    data.addRow([key, trains[key]]);
                });
                var options = {
                    title: 'Поїзди',
                    backgroundColor: '#343a40',
                    is3D: true,
                    hAxis: {
                        textStyle: {
                            color: '#ffffff'
                        }
                    },
                    vAxis: {
                        textStyle: {
                            color: '#ffffff'
                        }
                    },
                    legend: {
                        textStyle: {
                            color: '#ffffff'
                        }
                    },
                    titleTextStyle: {
                        color: '#ffffff'
                    }
                };
                var chart = new google.visualization.PieChart(document
                    .getElementById('trains'));
                chart.draw(data, options);
            }
        </script>
    </main>

    <footer class="mt-auto text-white-50">

    </footer>
</div>

</body>

</html>